body {
    background-color: #D8F1A0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #F3C178;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#navbar a {
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 42px;
    color: #00A878;
    display: inline-block;
}

#dropdown {
    float: right;
}

#dropdown-content {
    display: none;
    position: absolute;
    float: right;
    background-color: #F3C178;
    min-width: 160px;
    z-index: 2;
}

#dropdown-content a {
    float: none;
    color: #00A878;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown:hover #dropdown-content{
    display: block;
}


.hide {
    display: none;
}

#plant-page, #login-page, #signup-page {
    text-align: center;
}

#current-goals div {
    display: block;
    padding: 14px;
}

